@media (max-width: 962px) {
    .banner .navigator {
        margin-left: 50%;
        transform: translate(-50%,70%);
    }
}

@media (max-width: 768px) {
    .banner .header img {
        display: block;
        /* width: 40px;
        height: 40px; */
    }
    
    .main {
        grid-template-columns: minmax(0,1fr);
    }
    
    .main .aside {
        /* display: none; */
        position: fixed;
        top: 25%;
        left: 0;
        width: 70%;
        transform:  translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 1;
        overflow-y: auto;
        overscroll-behavior: contain;
    }

    /* 侧边栏 展开类 */
    .main .aside.open {
        transform: translateX(0);
    }
}

/* 处理时间线 的响应式 */
@media (max-width: 430px) {
    .time-line::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 2px;
        background: #333;
        /* transform: translateX(-50%); */
    }

    .node::before {
    content: '';
    position: absolute;
    left: 0;
    /* transform: translateX(-50%); */
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #e8c547;
    border: 3px solid #111;
    z-index: 1;
    }

    .node.node-even .content,
    .node.node-odd .content {
        /* margin: 0 15px; */
        padding-left: 10px;
        width: 100%;
        text-align: left;
    }
}

@media (min-width: 1024px) {
    .banner .navigator .nav-button li:hover {
    /* background-color: var(--bg-deep); */
    background: linear-gradient(
        to bottom,
        #f0f3f7 0%,
        #dbdce2 50%,
        #c5c9cf 100%
        );
    }
}

/* 媒体查询 暗黑主题色 */
@media (prefers-color-scheme: dark) {
    :root {
    /* 主色调: 基础灰*/
    --bg: #c8c8cc;
    --bg-deep: #b0b4b8;

    /* 玻璃面板 */
    --surface: #dde1e6;
    --surface-light:#eaeef3;
    --glass: rgba(255,255,255,0.55);/*毛玻璃*/
    --glass-border: rgba(255,255,255,0.7);/*玻璃上边缘高光*/
    --glass-edge: rgba(0,0,0,0.12);  /* 玻璃底部暗边 */
     /* 高光  阴影*/
     --gloss: rgba(255,255,255,0.85); /*按钮顶部光泽*/
     --inner-shadow: rgba(255,255,255,0.5);/* 内部柔光 */
     --shadow: rgba(0,0,0,0.18);/* 外部投影 */

     /* 强调色 */
     --accent: #4f9ef8; /*经典蓝色*/
     --accent-light: #6db3fc;/* 蓝色高光 */
     --accent-deep: #2b6fca; /*蓝色按压态*/

     /* 文字 */
     --text: #1c1e22; /*主字体*/
     --text-secondary: #555b66;/* 辅助字体 */
     --text-on-accent: #ffffff;/* 强调色上面的白字 */
    }
}